# Data Handling
pandas
numpy

# Database Connection
psycopg2
sqlalchemy

# Statistical Analysis
scipy

# Visualization Libraries
matplotlib
seaborn
plotly

flask
flask_sqlalchemy
flask_bcrypt

Flask
gunicorn
dotenv
